
<mat-table [dataSource]="todos">
  <ng-container matColumnDef="taskName">
    <mat-header-cell *matHeaderCellDef>Task Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.taskName}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="noOfDays">
    <mat-header-cell *matHeaderCellDef>Days</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.noOfDays}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="update">
    <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
    <mat-cell *matCellDef="let element"><button mat-button color="primary" (click)='updateTodo(element)'>Update</button></mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let element"><button mat-button color="primary" (click)='removeTodo(element)'>Delete</button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay "></mat-row>
</mat-table>
<button mat-raised-button color="primary" (click)='addTodo()'>Add Task</button>
